* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reset-all {
    all: unset;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.body {
    background: #DFDFDF;
}

.container {
    min-height: 100vh;
}

.main {
    padding: 0 32px;
}

.header {
    display: flex;
    padding: 15px 32px;
}

.header__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #191A19;
}