<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../css/global.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Card de Perfil</title>
  </head>
  <body>
    <header class="header">
      <a href="../../home/index.html" class="reset-all cursor-pointer"
        ><h2 class="header__text">Wesley | Projects</h2></a
      >
    </header>
    <main class="main">
      <div class="card">
        <div class="top">
          <img
            src="assets/bg-pattern-card.svg"
            alt="Imagem de fundo do card"
            class="pattern-card"
          />
          <img
            src="assets/image-victor.jpg"
            alt="Imagem do perfil"
            class="perfil-card"
          />
        </div>
        <span class="name">Victor Crest</span><span class="number">26</span>
        <p>London</p>
        <div class="information-group">
          <div class="information">
            <h2>80K</h2>
            <span>Followers</span>
          </div>
          <div class="information">
            <h2>803K</h2>
            <span>Likes</span>
          </div>
          <div class="information">
            <h2>1.4K</h2>
            <span>Photos</span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
