.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background: #eff5ff;
}

.post {
  width: 536px;
  border-radius: 15px;
  padding: 75px 70px 50px 70px;
  margin: 0 auto;
  box-shadow: 0px 44px 54px -30px rgba(171, 200, 250, 0.38);
  background: #ffff;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.post p {
  font-size: 16px;
  margin-bottom: 20px;
}

span {
  font-size: 14px;
  line-height: 26px;
}

.categorias p,
span {
  color: #494949;
}

.categorias {
  margin-bottom: 32px;
  margin-top: 51px;
}

.categorias p {
  margin-bottom: 10px;
}

.categorias > a {
  text-decoration: none;
  padding: 9px 20px;
  margin: 10px 10px 10px 0px;
  display: inline-block;
  border-radius: 45px;
  background: #eff5ff;
  color: #2e29ff;
}

.post > a {
  text-decoration: none;
  border-radius: 10px;
  padding: 11px 32px;
  color: #ffff;
  background: #000000;
}
