<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Sunnyside</title>
  </head>
  <body>
    <section class="top">
      <header>
        <img src="assets/logo.svg" alt="Logo" />
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#" class="btn">Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="hero-section">
        <h1>We are creatives</h1>
        <img src="assets/icon-arrow-down.svg" alt="Seta para baixo" />
      </div>
    </section>
    <section class="card-section">
      <div class="card">
        <h2>Transform your brand</h2>
        <p>
          We are a full-service creative agency specializing in helping brands
          grow fast. Engage your clients through compelling visuals that do most
          of the marketing for you.
        </p>
        <a href="#">LEARN MORE</a>
      </div>
      <div class="photo">
        <img src="assets/image-transform.jpg" alt="" />
      </div>
    </section>
    <section class="card-section card-reverse">
      <div class="card">
        <h2>Stand out to the right audience</h2>
        <p>
          Using a collaborative formula of designers, researchers,
          photographers, videographers, and copywriters, we’ll build and extend
          your brand in digital places.
        </p>
        <a href="#">LEARN MORE</a>
      </div>
      <div class="photo">
        <img src="assets/image-stand-out.jpg" alt="" />
      </div>
    </section>
    <section class="card-section">
      <div class="second-card design">
        <h3>Graphic Design</h3>
        <p>
          Great design makes you memorable. We deliver artwork that underscores
          your brand message and captures potential clients’ attention.
        </p>
      </div>
      <div class="second-card photography">
        <h3>Photography</h3>
        <p>
          Increase your credibility by getting the most stunning, high-quality
          photos that improve your business image.
        </p>
      </div>
    </section>
    <section class="section-client">
      <h2>CLIENT TESTIMONIALS</h2>
      <div class="card-clients">
        <div class="client">
          <img src="assets/image-emily.jpg" alt="Foto do perfil" />
          <p>
            We put our trust in Sunnyside and they delivered, making sure our
            needs were met and deadlines were always hit.
          </p>
          <h4>Emily R.</h4>
          <span>Marketing Director</span>
        </div>
        <div class="client">
          <img src="assets/image-thomas.jpg" alt="Foto do perfil" />
          <p>
            Sunnyside’s enthusiasm coupled with their keen interest in our
            brand’s success made it a satisfying and enjoyable experience.
          </p>
          <h4>Thomas S.</h4>
          <span>Chief Operating Officer</span>
        </div>
        <div class="client">
          <img src="assets/image-jennie.jpg" alt="Foto do perfil" />
          <p>
            Incredible end result! Our sales increased over 400% when we worked
            with Sunnyside. Highly recommended!
          </p>
          <h4>Jennie F.</h4>
          <span>Business Owner</span>
        </div>
      </div>
    </section>
    <section class="images">
      <img src="assets/image-gallery-milkbottles.jpg" alt="" />
      <img src="assets/image-gallery-orange.jpg" alt="" />
      <img src="assets/image-gallery-cone.jpg" alt="" />
      <img src="assets/image-gallery-sugarcubes.jpg" alt="" />
    </section>
    <footer>
      <img src="assets/logo-dark.svg" alt="Logo escura" />
      <div class="topics">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Projects</a>
      </div>
      <div class="social-media">
        <img src="assets/icon-facebook.svg" alt="Ícone do Facebooc" />
        <img src="assets/icon-instagram.svg" alt="Ícone do Instagram" />
        <img src="assets/icon-twitter.svg" alt="Ícone do Twitter" />
        <img src="assets/icon-pinterest.svg" alt="Ícone do Pinterest" />
      </div>
    </footer>
  </body>
</html>
