.main {
  background: #f8efef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 610px;
  padding: 64px 89px 56px 89px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.content h1 {
  font-family: "Rokkitt", serif;
  font-weight: 700;
  font-size: 36px;
  color: #161843;
  margin-bottom: 15px;
}

.content > p {
  font-weight: 400;
  font-size: 16px;
  color: #161843;
  font-family: "Mulish", sans-serif;
  margin-bottom: 52px;
}

.content input {
  all: unset;
  font-family: "Mulish", sans-serif;
  border: 1px solid #cad6e4;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 16px;
  color: #343945;
}

.content input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #717a91;
}

.content input:focus {
  border: 1px solid #26394f;
  border-radius: 5px;
}

.content-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  margin-bottom: 55px;
}

.content-password a {
  all: unset;
  font-weight: 400;
  font-size: 16px;
  color: #0c6787;
}

.content-password button {
  all: unset;
  background: #046586;
  border-radius: 5px;
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.content-password button img {
  margin-left: 14px;
}

.content-footer {
  padding-top: 35px;
  border-top: 1px solid #cad6e4;
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.content-footer span {
  font-weight: 400;
  font-size: 14px;
  color: #838a9e;
}

.social-medias {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.social-medias button {
  padding: 10px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cad6e4;
  border-radius: 5px;
  background: #ffffff;
}

.social-medias button:hover {
  border: 1px solid #26394f;
}

.social-medias button:last-child {
  margin-left: 14px;
}

.social-medias button img {
  margin-right: 10px;
}

.content-footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.content-footer p a {
  all: unset;
  text-decoration-line: underline;
  color: #046586;
}
