<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../css/global.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Anúncio</title>
  </head>
  <body>
    <header class="header">
      <a href="../../../index.html" class="reset-all cursor-pointer"
        ><h2 class="header__text">Wesley | Projects</h2></a
      >
    </header>
    <main class="main">
      <div class="announcement">
        <div class="announcement-header">
          <h1>Join our community</h1>
          <span>30-day, hassle-free money back guarantee</span>
          <p>
            Gain access to our full library of tutorials along with expert code
            reviews. Perfect for any developers who are serious about honing
            their skills.
          </p>
        </div>
        <div class="announcement-footer">
          <div class="subscription">
            <h2>Monthly Subscription</h2>
            <div class="value-month">
              <h2 class="value">$29</h2>
              <span class="month">per month</span>
            </div>
            <p>Full access for less than $1 a day</p>
            <a href="#">Sign Up</a>
          </div>
          <div class="why-us">
            <h2>Why Us</h2>
            <p>
              Tutorials by industry experts Peer & expert code review Coding
              exercises Access to our GitHub repos Community forum Flashcard
              decks New videos every week
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
