.contact {
    display: flex;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
}

.contact--last {
    margin-bottom: 109px;
}

.contact__title {
    width: 50%;
}

.contact__contents {
    width: 50%;
}

.contact__paragraph {
    margin-bottom: 54px;
}

.contact__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.contact__label {
    margin-bottom: 8px;
    font-family: "Public Sans", sans-serif;
    font-size: 13px;
    color: rgb(51, 50, 61, 0.8);
}

.contact__input {
    height: 48px;
    background: rgb(51, 50, 61, 0.1);
}

.contact__input--message {
    height: 96px;
}

.contact__button {
    padding-top: 17px;
    padding-bottom: 17px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #203A4C;
}
