.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 335px;
    border-radius: 8px;
    background: #E5E5E5;
}

.hero__title {
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: #191A19;
}

.hero__subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #191A19;
}

.list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    background: #F7F7F7;
}

.project:hover {
    transition: 0.4s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.project__img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project__text {
    width: 100%;
    text-align: left;
    padding: 30px;
}

.project__description {
    margin-right: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #191A19;
}

.project__title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #191A19;
}

.project__link {
    border-radius: 10px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background: #DFDFDF;
    color: #191A19;
}

@media(max-width: 1270px) {
    .project {
        width: 400px;
    }
}