.main {
  background: #e5e5e5;
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 81px;
}

.content {
  background: #ffffff;
  border-radius: 32px;
  padding: 90px 60px;
}

.content h1 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #0c1727;
  margin-bottom: 64px;
}

.group-card {
  display: flex;
}

.card-center {
  margin: 0 15px;
}

.card {
  text-align: center;
  background: #f8f2fa;
  border-radius: 5px;
  max-width: 429px;
  padding: 35px 51px 50px 51px;
}

.card img {
  margin-bottom: 6px;
}

.card h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 35px;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 20px;
  background: #0c1727;
  border-radius: 3px;
}
